<div class="container">  
<h1>Please enter the email address of the user you want to invite:</h1>
<%if session[:user_invite] == false%>
<p>The user currently belongs to another gallery. You can add the user once the gallery delete the user from their account.</p>
<%end%>
<form action="/gallery/<%=@gallery.id%>/invite" method="post">
<input type="email" name="user[email]" placeholder="Email:">
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
</div>