<div class="container">  
<!DOCTYPE html>
<html>
   <head>
      <title>HTML Meta Tag</title>
      <meta http-equiv = "refresh" content = "0"; href = "/" />
   </head>
   <body>
      <p>Something went wrong. You are being redirected</p>
   </body>
</html>